#container
{
    width: 640px;
    height: 480px;
}
#glavna
{
    height: 200px;
    width: 320px;
}
.ikone
{
    width: 64px;
    height: 40px;
}
.top
{
    font-size: x-large;
    font-weight: bold;
    color: #FF0000;
    text-align: center;
}
.desno
{
    text-align: right;
}
.center
{
    text-align: center;
}
